<header class="artist-header">
    <i class="fas fa-chevron-left"></i>
    <div class="click-left-overlay"></div>
    <div class="click-right-overlay"></div>
    <div class="artist-profile-image">
        <% if(artist.images.length>0){ %>
            <div 
                class="image-container"
                style=" background:
                        linear-gradient(
                        rgba(0, 0, 0, 0.45), 
                        rgba(0, 0, 0, 0.45)
                        ),
                        url(<%=artist.images[0].url%>);
                        background-size: cover;
                "
            >
            </div>
        <%} else{ %>
            <div 
                class="image-container"
                style=" background:
                        linear-gradient(
                        rgba(0, 0, 0, 0.45), 
                        rgba(0, 0, 0, 0.45)
                        ),
                        url(/img/placeholder.png);
                        background-size: cover;
                "
            >
            </div>
        <% }%>
        <div class="header-section info">
            <h1 class="artist-title"><%= artist.name %></h1>
            <a class="btn btn-follow" href="#">follow</a>
        </div>
        <nav class="header">
            <i class="fas fa-circle"></i>
            <i class="fas fa-circle"></i>
            <i class="fas fa-circle"></i>
        </nav>
        <div class="bottom-shadow"></div>
    </div>
  </header>
  <section>
    <ul class="artist-header-list">
      <li class="related-artists">
        <h2 class="padding related-title">Fans also like</h2>
        <% include artist-partials/related.ejs %>
      </li>
    </ul>
  </section>
  <section id="feed">
    <% youtube.forEach(yt=>{ %>
        <div class="iframe-wrapper">
            <header class="iframe">
                <img src="/img/youtube.png" alt="">
            </header>
            <iframe class="youtube" src="https://www.youtube.com/embed/<%=yt.id%>">
            </iframe>
        </div>
    <% }) %>
    <% if(insta){ %>
        <% insta.forEach((i)=>{ %>
            <div class="iframe-wrapper">
                <header class="iframe">
                        <img src="/img/instagram.png" alt="">
                </header>
                <%-i.html%>
            </div>
        <% }) %>
    <% } %>
    <% if(soundcloud){ %>
        <% soundcloud.forEach((url, i)=>{ %>
            <div data-url='<%=url%>' class="putTheWidgetHere iframe-wrapper" id="id<%=i%>">
                <header class="iframe">
                    <img src="/img/soundcloud.png" alt="">
                </header>
            </div>
        <% }) %>
    <% } %>
  </section>