<header 
    class="artist-header"
    data-spotifyId="<%=artist.id%>"
    data-zekkieId="<%=zekkieId%>"
>
    <i class="fas fa-chevron-left"></i>
    <div class="click-left-overlay"></div>
    <div class="click-right-overlay"></div>
    <div class="artist-profile-image">
        <% if(artist.images.length>0){ %>
            <div 
                class="image-container"
                style=" background:
                        linear-gradient(
                        rgba(0, 0, 0, 0.45), 
                        rgba(0, 0, 0, 0.45)
                        ),
                        url(<%=artist.images[0].url%>);
                        background-size: cover;
                "
            >
            </div>
        <%} else{ %>
            <div 
                class="image-container"
                style=" background:
                        linear-gradient(
                        rgba(0, 0, 0, 0.45), 
                        rgba(0, 0, 0, 0.45)
                        ),
                        url(/img/placeholder.png);
                        background-size: cover;
                "
            >
            </div>
        <% }%>
        <div class="header-section info visible">
            <h1 class="artist-title"><%= artist.name %></h1>
            <a class="btn btn-follow" href="#">follow</a>
        </div>
        <div class="header-section bio">
            <p><%=wikidata%></p>
        </div>
        <div class="header-section topTracks">
            <% tracks.forEach((tr,i)=>{%>
                <div class="track">
                    <p><%=i%></p>
                    <p><%=tr.song%></p>
                    <i class="fas fa-play"></i>
                    <audio src="<%=tr.prUrl%>"></audio>
                </div>
            <% }) %>
        </div>
        <nav class="header">
            <i class="fas fa-circle visible"></i>
            <i class="fas fa-circle"></i>
            <i class="fas fa-circle"></i>
        </nav>
        <div class="bottom-shadow"></div>
    </div>
  </header>
  <section>
    <ul class="artist-header-list">
      <li class="related-artists">
        <h2 class="padding related-title">Fans also like</h2>
        <% include artist-partials/related.ejs %>
      </li>
    </ul>
  </section>
  <section id="feed">
      <div class="loading">
          <p>
              Loading in posts
          </p>
          <img src="/img/loading.svg" alt="">
      </div>
  </section>