<div class="following">
    <h2>Following</h2>
    <ul class="list">
        <% list.forEach(item=>{ %>
            <a href="/artist/<%=item.spotifyId%>&<%=item.id%>">
                <li data-id="<%=item.id%>">
                    <div class="image-container-following">
                        <img src="<%=item.img%>">
                    </div>
                    <p><%=item.name%></p>
                </li>
            </a>
        <% }) %>
    </ul>
</div>
<section id="homeFeed">

</section>