<% artists.forEach(artist=>{%>
    <% if(artist.instagram){ %>
        <% artist.instagram.forEach((i)=>{ %>
            <div class="iframe-wrapper">
                <header class="iframe">
                    <div class="artist">
                        <img src="<%=artist.img%>" alt="">
                        <p><%=artist.name%></p>
                    </div>
                    <img src="/img/instagram.png" alt="">
                </header>
                <%-i.html%>
            </div>
        <% }) %>
    <% } %>
    <% if(artist.soundcloud){ %>
        <% artist.soundcloud.forEach((url, i)=>{ %>
            <div class="iframe-wrapper">
                <header class="iframe">
                    <div class="artist">
                        <img src="<%=artist.img%>" alt="">
                            <p><%=artist.name%></p>
                    </div>
                    <img src="/img/soundcloud.png" alt="">
                </header>
                <div data-url='<%=url%>' class="putTheWidgetHere souncloud-wrapper" id="id<%=i%>">
                </div>
            </div>
        <% }) %>
    <% } %>
    <% if (artist.youtube){ %>
        <% artist.youtube.forEach((yt)=>{ %>
            <div class="iframe-wrapper"
                data-date="<%= yt.timestamp %>" 
            >
                <header class="iframe">
                    <div class="artist">
                        <img src="<%=artist.img%>" alt="">
                        <p><%=artist.name%></p>
                    </div>
                    <img src="/img/youtube.png" alt="">
                </header>
                <iframe
                    src="https://www.youtube.com/embed/<%=yt.video_id%>">
                </iframe>
            </div>
        <% }) %>
    <% } %>
    
    <% if (artist.twitter){ %>
        <% artist.twitter.forEach((tw)=>{ %>
            <div class="iframe-wrapper"
                data-date="<%= tw.timestamp %>"
            >
                <header class="iframe">
                    <div class="artist">
                        <img src="<%=artist.img%>" alt="">
                        <p><%=artist.name%></p>
                    </div>
                    Twitter
                </header>
                <%-tw.html%>
            </div>
        <% }) %>
    <% } %>
<%}) %>